body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-size: 23px;
}
.container {
	background-image: url('../images/PENTATONIX.png');
	width: 1000px;
	margin: 0 auto;
	min-height: 1000px;
	background-repeat: no-repeat;
	background-size: cover;
}

h3, p {
	margin: 0;
	padding: 0;
}

.box {
	width: 150px;
	cursor: pointer;
	float:left;
	opacity: 0;
}
.box:hover{
	opacity: 1;

}

.naam{
	padding-left: 9px;
}






#Kirstin{
	border-left: solid 7px #ff73c7;
	background-color: rgba(255,115,199,0.5);
}
#Kirstin2{
	padding-top: 438px;
	padding-left: 345px;
}




#Mitch{
	border-left: solid 7px #17c866;
	background-color: rgba(23,200,102,0.5);
}
#Mitch2{
	padding-left:10px;
	padding-top:438px;
	padding-right: 340px;
}




#Scott{
	border-left: solid 7px #3eb5ed;
	background-color: rgba(62,181,237,0.5);
}
#Scott2{
	padding-left: 345px;
	padding-top: 10px;
	padding-bottom: 450px;
}




#Kevin{
	border-left: solid 7px #ffda78;
	background-color: rgba(255,218,120,0.5);
}
#Kevin2{
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 450px;
	padding-right: 340px;
}
